.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d1d1d1;
  width: 80%;
  height: 80%;
  border-radius: 16px;
}
.form input {
  width: 300px;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.form button {
  width: 100px;
  height: 50px;
  font-size: 1.25rem;
  background: #ead94c;
  padding: 0.5rem;
  border-radius: 16px;
}
